<div class="home-container">
  <header class="header">
    <div class="menu-container">
      <button class="menu-btn" (click)="changeMenuOpen()">&#9776; Меню</button>
    </div>
    <h1>Лабораторная работа</h1>
    <!-- Условие: только для администраторов -->
    <button *ngIf="isAdmin" class="notification-btn" (click)="changeNotsFlag()">
      <i class="fa fa-bell"></i>
      <span class="notification-count">{{ 1 }}</span>
    </button>
    <button class="login-btn" (click)="navigateTo('/login')">Войти</button>
  </header>

  <div class="side-menu" [class.open]="menuOpen">
    <ul>
      <li><a (click)="navigateTo('/visualize')">Визуализация объектов</a></li>
      <li><a (click)="navigateTo('/register')">Зарегистрироваться</a></li>
    </ul>
  </div>

  <div class="movie-actions">
    <button (click)="changeCreateFlag()">Создать фильм</button>
    <button (click)="changeSearchFlag()">Поиск</button>
  </div>

  <!-- Табличка -->
  <div class="table-wrapper">
    <table class="movie-table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Creation Date</th>
        <th>Oscars Count</th>
        <th>Budget</th>
        <th>Total Box Office</th>
        <th>MPAA Rating</th>
        <th>Length</th>
        <th>Golden Palm Count</th>
        <th>USA Box Office</th>
        <th>Tagline</th>
        <th>Genre</th>
        <th>Coordinates</th>
        <th>Director</th>
        <th>Screenwriter</th>
        <th>Operator</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let movie of movies">
        <td>{{ movie.id }}</td>
        <td>{{ movie.name }}</td>
        <td>{{ movie.creationDate }}</td>
        <td>{{ movie.oscarsCount }}</td>
        <td>{{ movie.budget }}</td>
        <td>{{ movie.totalBoxOffice }}</td>
        <td>{{ movie.mpaaRating }}</td>
        <td>{{ movie.length }}</td>
        <td>{{ movie.goldenPalmCount }}</td>
        <td>{{ movie.usaBoxOffice }}</td>
        <td>{{ movie.tagline }}</td>
        <td>{{ movie.genre }}</td>

        <!-- Coordinates -->
        <td>
          <div class="attribute-label">X:</div>
          <div>{{ movie.coordinates.x }}</div>
          <div class="attribute-label">Y:</div>
          <div>{{ movie.coordinates.y }}</div>
        </td>

        <!-- Director -->
        <td>
          <div class="object-header">Director's info</div>
          <div class="object-attributes">
            <div>Name: {{ movie.director.name }}</div>
            <div>Eye Color: {{ movie.director.eyeColor }}</div>
            <div>Hair Color: {{ movie.director.hairColor }}</div>
            <div>Location: {{ movie.director.location.name }} ({{ movie.director.location.x }}, {{ movie.director.location.y }}, {{ movie.director.location.z }})</div>
            <div>Height: {{ movie.director.height }}</div>
            <div>Nationality: {{ movie.director.nationality }}</div>
          </div>
        </td>

        <!-- Screenwriter -->
        <td>
          <div class="object-header">Screenwriter's info</div>
          <div class="object-attributes">
            <div>Name: {{ movie.screenwriter.name }}</div>
            <div>Eye Color: {{ movie.screenwriter.eyeColor }}</div>
            <div>Hair Color: {{ movie.screenwriter.hairColor }}</div>
            <div>Location: {{ movie.screenwriter.location.name }} ({{ movie.screenwriter.location.x }}, {{ movie.screenwriter.location.y }}, {{ movie.screenwriter.location.z }})</div>
            <div>Height: {{ movie.screenwriter.height }}</div>
            <div>Nationality: {{ movie.screenwriter.nationality }}</div>
          </div>
        </td>

        <!-- Operator -->
        <td>
          <div class="object-header">Operator's info</div>
          <div class="object-attributes">
            <div>Name: {{ movie.operator.name }}</div>
            <div>Eye Color: {{ movie.operator.eyeColor }}</div>
            <div>Hair Color: {{ movie.operator.hairColor }}</div>
            <div>Location: {{ movie.operator.location.name }} ({{ movie.operator.location.x }}, {{ movie.operator.location.y }}, {{ movie.operator.location.z }})</div>
            <div>Height: {{ movie.operator.height }}</div>
            <div>Nationality: {{ movie.operator.nationality }}</div>
          </div>
        </td>

        <td>
          <button (click)="openUpdateModal(movie)">Обновить</button>
          <button (click)="openDeleteModal(movie.id)">Удалить</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Модальное окно для создания фильма -->
  <div class="modal" *ngIf="createFlag">
    <div class="modal-content">
      <span class="close-btn" (click)="changeCreateFlag()">&times;</span>
      <h2>Создать фильм</h2>
      <form [formGroup]="movieCreateForm" (ngSubmit)="createMovie()">
        <label for="nameCreate">Name:</label>
        <input id="nameCreate" formControlName="name"/>

        <label for="creationDateCreate">Creation Date: </label>
        <input id="creationDateCreate" formControlName="creationDate"/>

        <label for="oscarsCountCreate">Oscars Count:</label>
        <input id="oscarsCountCreate" type="number" formControlName="oscarsCount"/>

        <label for="budgetCreate">Budget:</label>
        <input id="budgetCreate" type="number" formControlName="budget"/>

        <label for="totalBoxOfficeCreate">Total Box Office:</label>
        <input id="totalBoxOfficeCreate" type="number" formControlName="totalBoxOffice"/>

        <label for="mpaaRatingCreate">MPAA Rating:</label>
        <select id="mpaaRatingCreate" formControlName="mpaaRating">
          <option value="G">G</option>
          <option value="PG">PG</option>
          <option value="PG_13">PG-13</option>
          <option value="R">R</option>
        </select>

        <label for="lengthCreate">Length:</label>
        <input id="lengthCreate" type="number" formControlName="length"/>

        <label for="goldenPalmCountCreate">Golden Palm Count:</label>
        <input id="goldenPalmCountCreate" type="number" formControlName="goldenPalmCount"/>

        <label for="usaBoxOfficeCreate">Usa Box Office:</label>
        <input id="usaBoxOfficeCreate" type="number" formControlName="usaBoxOffice"/>

        <label for="taglineCreate">Tagline:</label>
        <input id="taglineCreate" formControlName="tagline"/>

        <label for="genreCreate">Genre:</label>
        <select id="genreCreate" formControlName="genre">
          <option value="ACTION">ACTION</option>
          <option value="TRAGEDY">TRAGEDY</option>
          <option value="THRILLER">THRILLER</option>
          <option value="FANTASY">FANTASY</option>
          <option value="SCIENCE_FICTION">SCIENCE_FICTION</option>
        </select>

        <!-- Блок для Coordinates -->
        <button type="button" (click)="toggleCoordinates()">Create Coordinates</button>
        <div *ngIf="coordinatesVisible" formGroupName="coordinates">
          <h3>Coordinates</h3>
          <label for="xCreate">X:</label>
          <input id="xCreate" type="number" formControlName="x"/>

          <label for="yCreate">Y:</label>
          <input id="yCreate" type="number" formControlName="y"/>

          <button type="button" (click)="loadExistingCoordinates()">Load Existing Coordinates</button>
        </div>

        <!-- Блок для Person -->
        <button type="button" (click)="toggleDirector()">Create Director</button>
        <div *ngIf="directorVisible" formGroupName="director">
          <h3>Director</h3>
          <label for="directorNameCreate">director Name:</label>
          <input id="directorNameCreate" formControlName="name"/>

          <label for="directorEyeColorCreate">Eye Color:</label>
          <select id="directorEyeColorCreate" formControlName="eyeColor">
            <option value="BLACK">BLACK</option>
            <option value="ORANGE">ORANGE</option>
            <option value="BROWN">BROWN</option>
          </select>

          <label for="directorHairColorCreate">Hair Color:</label>
          <select id="directorHairColorCreate" formControlName="hairColor">
            <option value="BLACK">BLACK</option>
            <option value="ORANGE">ORANGE</option>
            <option value="BROWN">BROWN</option>
          </select>

          <!-- Вложенный блок для Location -->
          <h4>Location</h4>
          <div formGroupName="location">
            <label for="directorLocationXCreate">Location X:</label>
            <input id="directorLocationXCreate" type="number" formControlName="x"/>

            <label for="directorLocationYCreate">Location Y:</label>
            <input id="directorLocationYCreate" type="number" formControlName="y"/>

            <label for="directorLocationZCreate">Location Z:</label>
            <input id="directorLocationZCreate" type="number" formControlName="z"/>

            <label for="directorLocationNameCreate">Location Name:</label>
            <input id="directorLocationNameCreate" formControlName="name"/>
          </div>

          <label for="directorHeightCreate">Height:</label>
          <input id="directorHeightCreate" type="number" formControlName="height"/>

          <label for="directorNationalityCreate">Nationality:</label>
          <select id="directorNationalityCreate" formControlName="nationality">
            <option value="SPAIN">SPAIN</option>
            <option value="INDIA">INDIA</option>
            <option value="VATICAN">VATICAN</option>
          </select>

          <button type="button" (click)="loadExistingDirector()">Load Existing Director</button>
        </div>

        <button type="button" (click)="toggleScreenwriter()">Create Screenwriter</button>
        <div *ngIf="screenwriterVisible" formGroupName="screenwriter">
          <h3>Screenwriter</h3>
          <label for="screenwriterPersonNameCreate">Name:</label>
          <input id="screenwriterPersonNameCreate" formControlName="name"/>

          <label for="screenwriterEyeColorCreate">Eye Color:</label>
          <select id="screenwriterEyeColorCreate" formControlName="eyeColor">
            <option value="BLACK">BLACK</option>
            <option value="ORANGE">ORANGE</option>
            <option value="BROWN">BROWN</option>
          </select>

          <label for="screenwriterHairColorCreate">Hair Color:</label>
          <select id="screenwriterHairColorCreate" formControlName="hairColor">
            <option value="BLACK">BLACK</option>
            <option value="ORANGE">ORANGE</option>
            <option value="BROWN">BROWN</option>
          </select>

          <!-- Вложенный блок для Location -->
          <h4>Location</h4>
          <div formGroupName="location">
            <label for="screenwriterLocationXCreate">Location X:</label>
            <input id="screenwriterLocationXCreate" type="number" formControlName="x"/>

            <label for="screenwriterLocationYCreate">Location Y:</label>
            <input id="screenwriterLocationYCreate" type="number" formControlName="y"/>

            <label for="screenwriterLocationZCreate">Location Z:</label>
            <input id="screenwriterLocationZCreate" type="number" formControlName="z"/>

            <label for="screenwriterLocationNameCreate">Location Name:</label>
            <input id="screenwriterLocationNameCreate" formControlName="name"/>
          </div>

          <label for="screenwriterHeightCreate">Height:</label>
          <input id="screenwriterHeightCreate" type="number" formControlName="height"/>

          <label for="screenwriterNationalityCreate">Nationality:</label>
          <select id="screenwriterNationalityCreate" formControlName="nationality">
            <option value="SPAIN">SPAIN</option>
            <option value="INDIA">INDIA</option>
            <option value="VATICAN">VATICAN</option>
          </select>

          <button type="button" (click)="loadExistingScreenwriter()">Load Existing Screenwriter</button>
        </div>

        <button type="button" (click)="toggleOperator()">Create Operator</button>
        <div *ngIf="operatorVisible" formGroupName="operator">
          <h3>Person</h3>
          <label for="operatorNameCreate">Name:</label>
          <input id="operatorNameCreate" formControlName="name"/>

          <label for="operatorEyeColorCreate">Eye Color:</label>
          <select id="operatorEyeColorCreate" formControlName="eyeColor">
            <option value="BLACK">BLACK</option>
            <option value="ORANGE">ORANGE</option>
            <option value="BROWN">BROWN</option>
          </select>

          <label for="operatorHairColorCreate">Hair Color:</label>
          <select id="operatorHairColorCreate" formControlName="hairColor">
            <option value="BLACK">BLACK</option>
            <option value="ORANGE">ORANGE</option>
            <option value="BROWN">BROWN</option>
          </select>

          <!-- Вложенный блок для Location -->
          <h4>Location</h4>
          <div formGroupName="location">
            <label for="operatorLocationXCreate">Location X:</label>
            <input id="operatorLocationXCreate" type="number" formControlName="x"/>

            <label for="operatorLocationYCreate">Location Y:</label>
            <input id="operatorLocationYCreate" type="number" formControlName="y"/>

            <label for="operatorLocationZCreate">Location Z:</label>
            <input id="operatorLocationZCreate" type="number" formControlName="z"/>

            <label for="operatorLocationNameCreate">Location Name:</label>
            <input id="operatorLocationNameCreate" formControlName="name"/>
          </div>

          <label for="operatorHeightCreate">Height:</label>
          <input id="operatorHeightCreate" type="number" formControlName="height"/>

          <label for="operatorNationalityCreate">Nationality:</label>
          <select id="operatorNationalityCreate" formControlName="nationality">
            <option value="SPAIN">SPAIN</option>
            <option value="INDIA">INDIA</option>
            <option value="VATICAN">VATICAN</option>
          </select>

          <button type="button" (click)="loadExistingOperator()">Load Existing Operator</button>
        </div>

        <button type="submit">Create Movie</button>
      </form>
    </div>
  </div>

  <!-- Модальное окно для обновления фильма -->
  <div class="modal" *ngIf="updateFlag">
    <div class="modal-content">
      <span class="close-btn" (click)="changeUpdateFlag()">&times;</span>
      <h2>Создать фильм</h2>
      <form [formGroup]="movieUpdateForm" (ngSubmit)="updateMovie()">
        <label for="nameUpdate">Name:</label>
        <input id="nameUpdate" formControlName="name"/>

        <label for="creationDateUpdate">Creation Date: </label>
        <input id="creationDateUpdate" formControlName="creationDate"/>

        <label for="oscarsCountUpdate">Oscars Count:</label>
        <input id="oscarsCountUpdate" type="number" formControlName="oscarsCount"/>

        <label for="budgetUpdate">Budget:</label>
        <input id="budgetUpdate" type="number" formControlName="budget"/>

        <label for="totalBoxOfficeUpdate">Total Box Office:</label>
        <input id="totalBoxOfficeUpdate" type="number" formControlName="totalBoxOffice"/>

        <label for="mpaaRatingUpdate">MPAA Rating:</label>
        <select id="mpaaRatingUpdate" formControlName="mpaaRating">
          <option value="G">G</option>
          <option value="PG">PG</option>
          <option value="PG_13">PG-13</option>
          <option value="R">R</option>
        </select>

        <label for="lengthUpdate">Length:</label>
        <input id="lengthUpdate" type="number" formControlName="length"/>

        <label for="goldenPalmCountUpdate">Golden Palm Count:</label>
        <input id="goldenPalmCountUpdate" type="number" formControlName="goldenPalmCount"/>

        <label for="usaBoxOfficeUpdate">Usa Box Office:</label>
        <input id="usaBoxOfficeUpdate" type="number" formControlName="usaBoxOffice"/>

        <label for="taglineUpdate">Tagline:</label>
        <input id="taglineUpdate" formControlName="tagline"/>

        <label for="genreUpdate">Genre:</label>
        <select id="genreUpdate" formControlName="genre">
          <option value="ACTION">ACTION</option>
          <option value="TRAGEDY">TRAGEDY</option>
          <option value="THRILLER">THRILLER</option>
          <option value="FANTASY">FANTASY</option>
          <option value="SCIENCE_FICTION">SCIENCE_FICTION</option>
        </select>

        <!-- Блок для Coordinates -->
        <button type="button" (click)="toggleCoordinates()">Update Coordinates</button>
        <div *ngIf="coordinatesVisible" formGroupName="coordinates">
          <h3>Coordinates</h3>
          <label for="xUpdate">X:</label>
          <input id="xUpdate" type="number" formControlName="x"/>

          <label for="yUpdate">Y:</label>
          <input id="yUpdate" type="number" formControlName="y"/>

          <button type="button" (click)="loadExistingCoordinates()">Load Existing Coordinates</button>
        </div>

        <!-- Блок для Person -->
        <button type="button" (click)="toggleDirector()">Update Director</button>
        <div *ngIf="directorVisible" formGroupName="director">
          <h3>Director</h3>
          <label for="directorNameUpdate">director Name:</label>
          <input id="directorNameUpdate" formControlName="name"/>

          <label for="directorEyeColorUpdate">Eye Color:</label>
          <select id="directorEyeColorUpdate" formControlName="eyeColor">
            <option value="BLACK">BLACK</option>
            <option value="ORANGE">ORANGE</option>
            <option value="BROWN">BROWN</option>
          </select>

          <label for="directorHairColorUpdate">Hair Color:</label>
          <select id="directorHairColorUpdate" formControlName="hairColor">
            <option value="BLACK">BLACK</option>
            <option value="ORANGE">ORANGE</option>
            <option value="BROWN">BROWN</option>
          </select>

          <!-- Вложенный блок для Location -->
          <h4>Location</h4>
          <div formGroupName="location">
            <label for="directorLocationXUpdate">Location X:</label>
            <input id="directorLocationXUpdate" type="number" formControlName="x"/>

            <label for="directorLocationYUpdate">Location Y:</label>
            <input id="directorLocationYUpdate" type="number" formControlName="y"/>

            <label for="directorLocationZUpdate">Location Z:</label>
            <input id="directorLocationZUpdate" type="number" formControlName="z"/>

            <label for="directorLocationNameUpdate">Location Name:</label>
            <input id="directorLocationNameUpdate" formControlName="name"/>
          </div>

          <label for="directorHeightUpdate">Height:</label>
          <input id="directorHeightUpdate" type="number" formControlName="height"/>

          <label for="directorNationalityUpdate">Nationality:</label>
          <select id="directorNationalityUpdate" formControlName="nationality">
            <option value="SPAIN">SPAIN</option>
            <option value="INDIA">INDIA</option>
            <option value="VATICAN">VATICAN</option>
          </select>

          <button type="button" (click)="loadExistingDirector()">Load Existing Director</button>
        </div>

        <button type="button" (click)="toggleScreenwriter()">Update Screenwriter</button>
        <div *ngIf="screenwriterVisible" formGroupName="screenwriter">
          <h3>Screenwriter</h3>
          <label for="screenwriterPersonNameUpdate">Name:</label>
          <input id="screenwriterPersonNameUpdate" formControlName="name"/>

          <label for="screenwriterEyeColorUpdate">Eye Color:</label>
          <select id="screenwriterEyeColorUpdate" formControlName="eyeColor">
            <option value="BLACK">BLACK</option>
            <option value="ORANGE">ORANGE</option>
            <option value="BROWN">BROWN</option>
          </select>

          <label for="screenwriterHairColorUpdate">Hair Color:</label>
          <select id="screenwriterHairColorUpdate" formControlName="hairColor">
            <option value="BLACK">BLACK</option>
            <option value="ORANGE">ORANGE</option>
            <option value="BROWN">BROWN</option>
          </select>

          <!-- Вложенный блок для Location -->
          <h4>Location</h4>
          <div formGroupName="location">
            <label for="screenwriterLocationXUpdate">Location X:</label>
            <input id="screenwriterLocationXUpdate" type="number" formControlName="x"/>

            <label for="screenwriterLocationYUpdate">Location Y:</label>
            <input id="screenwriterLocationYUpdate" type="number" formControlName="y"/>

            <label for="screenwriterLocationZUpdate">Location Z:</label>
            <input id="screenwriterLocationZUpdate" type="number" formControlName="z"/>

            <label for="screenwriterLocationNameUpdate">Location Name:</label>
            <input id="screenwriterLocationNameUpdate" formControlName="name"/>
          </div>

          <label for="screenwriterHeightUpdate">Height:</label>
          <input id="screenwriterHeightUpdate" type="number" formControlName="height"/>

          <label for="screenwriterNationalityUpdate">Nationality:</label>
          <select id="screenwriterNationalityUpdate" formControlName="nationality">
            <option value="SPAIN">SPAIN</option>
            <option value="INDIA">INDIA</option>
            <option value="VATICAN">VATICAN</option>
          </select>

          <button type="button" (click)="loadExistingScreenwriter()">Load Existing Screenwriter</button>
        </div>

        <button type="button" (click)="toggleOperator()">Update Operator</button>
        <div *ngIf="operatorVisible" formGroupName="operator">
          <h3>Person</h3>
          <label for="operatorNameUpdate">Name:</label>
          <input id="operatorNameUpdate" formControlName="name"/>

          <label for="operatorEyeColorUpdate">Eye Color:</label>
          <select id="operatorEyeColorUpdate" formControlName="eyeColor">
            <option value="BLACK">BLACK</option>
            <option value="ORANGE">ORANGE</option>
            <option value="BROWN">BROWN</option>
          </select>

          <label for="operatorHairColorUpdate">Hair Color:</label>
          <select id="operatorHairColorUpdate" formControlName="hairColor">
            <option value="BLACK">BLACK</option>
            <option value="ORANGE">ORANGE</option>
            <option value="BROWN">BROWN</option>
          </select>

          <!-- Вложенный блок для Location -->
          <h4>Location</h4>
          <div formGroupName="location">
            <label for="operatorLocationXUpdate">Location X:</label>
            <input id="operatorLocationXUpdate" type="number" formControlName="x"/>

            <label for="operatorLocationYUpdate">Location Y:</label>
            <input id="operatorLocationYUpdate" type="number" formControlName="y"/>

            <label for="operatorLocationZUpdate">Location Z:</label>
            <input id="operatorLocationZUpdate" type="number" formControlName="z"/>

            <label for="operatorLocationNameUpdate">Location Name:</label>
            <input id="operatorLocationNameUpdate" formControlName="name"/>
          </div>

          <label for="operatorHeightUpdate">Height:</label>
          <input id="operatorHeightUpdate" type="number" formControlName="height"/>

          <label for="operatorNationalityUpdate">Nationality:</label>
          <select id="operatorNationalityUpdate" formControlName="nationality">
            <option value="SPAIN">SPAIN</option>
            <option value="INDIA">INDIA</option>
            <option value="VATICAN">VATICAN</option>
          </select>

          <button type="button" (click)="loadExistingOperator()">Load Existing Operator</button>
        </div>

        <button type="submit">Update Movie</button>
      </form>
    </div>
  </div>

  <!-- Модальное окно для удаления фильма -->
  <div class="modal" *ngIf="deleteFlag">
    <div class="modal-content">
      <span class="close-btn" (click)="changeDeleteFlag()">&times;</span>
      <h2>Удалить фильм</h2>
      <p>Вы уверены, что хотите удалить фильм "{{ selectedMovieId }}"?</p>
      <button (click)="deleteMovie()">Да</button>
      <button (click)="changeDeleteFlag()">Нет</button>
    </div>
  </div>

  <!-- Модальное окно для поиска фильма -->
  <div class="modal" *ngIf="searchFlag">
    <div class="modal-content">
      <span class="close-btn" (click)="changeSearchFlag()">&times;</span>
      <h2>Поиск фильма</h2>
      <form (ngSubmit)="searchMovie()">
        <label for="searchId">ID фильма</label>
        <input type="number" id="searchId" [(ngModel)]="searchId" name="searchId" placeholder="Искать по ID..." required/>
        <button type="submit">Найти</button>
      </form>
      <div *ngIf="foundMovie; else notFound">
        <h3>Найденный фильм:</h3>
        <table>
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Creation Date</th>
            <th>Oscars Count</th>
            <th>Budget</th>
            <th>Total Box Office</th>
            <th>MPAA Rating</th>
            <th>Length</th>
            <th>Golden Palm Count</th>
            <th>USA Box Office</th>
            <th>Tagline</th>
            <th>Genre</th>
            <th>Coordinates</th>
            <th>Director</th>
            <th>Screenwriter</th>
            <th>Operator</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{ foundMovie.id }}</td>
            <td>{{ foundMovie.name }}</td>
            <td>{{ foundMovie.creationDate }}</td>
            <td>{{ foundMovie.oscarsCount }}</td>
            <td>{{ foundMovie.budget }}</td>
            <td>{{ foundMovie.totalBoxOffice }}</td>
            <td>{{ foundMovie.mpaaRating }}</td>
            <td>{{ foundMovie.length }}</td>
            <td>{{ foundMovie.goldenPalmCount }}</td>
            <td>{{ foundMovie.usaBoxOffice }}</td>
            <td>{{ foundMovie.tagline }}</td>
            <td>{{ foundMovie.genre }}</td>

            <!-- Coordinates -->
            <td>
              <div class="attribute-label">X:</div>
              <div>{{ foundMovie.coordinates.x }}</div>
              <div class="attribute-label">Y:</div>
              <div>{{ foundMovie.coordinates.y }}</div>
            </td>

            <!-- Director -->
            <td>
              <div class="object-header">Director's info</div>
              <div class="object-attributes">
                <div>Name: {{ foundMovie.director.name }}</div>
                <div>Eye Color: {{ foundMovie.director.eyeColor }}</div>
                <div>Hair Color: {{ foundMovie.director.hairColor }}</div>
                <div>Location: {{ foundMovie.director.location.name }} ({{ foundMovie.director.location.x }}, {{ foundMovie.director.location.y }}, {{ foundMovie.director.location.z }})</div>
                <div>Height: {{ foundMovie.director.height }}</div>
                <div>Nationality: {{ foundMovie.director.nationality }}</div>
              </div>
            </td>

            <!-- Screenwriter -->
            <td>
              <div class="object-header">Screenwriter's info</div>
              <div class="object-attributes">
                <div>Name: {{ foundMovie.screenwriter.name }}</div>
                <div>Eye Color: {{ foundMovie.screenwriter.eyeColor }}</div>
                <div>Hair Color: {{ foundMovie.screenwriter.hairColor }}</div>
                <div>Location: {{ foundMovie.screenwriter.location.name }} ({{ foundMovie.screenwriter.location.x }}, {{ foundMovie.screenwriter.location.y }}, {{ foundMovie.screenwriter.location.z }})</div>
                <div>Height: {{ foundMovie.screenwriter.height }}</div>
                <div>Nationality: {{ foundMovie.screenwriter.nationality }}</div>
              </div>
            </td>

            <!-- Operator -->
            <td>
              <div class="object-header">Operator's info</div>
              <div class="object-attributes">
                <div>Name: {{ foundMovie.operator.name }}</div>
                <div>Eye Color: {{ foundMovie.operator.eyeColor }}</div>
                <div>Hair Color: {{ foundMovie.operator.hairColor }}</div>
                <div>Location: {{ foundMovie.operator.location.name }} ({{ foundMovie.operator.location.x }}, {{ foundMovie.operator.location.y }}, {{ foundMovie.operator.location.z }})</div>
                <div>Height: {{ foundMovie.operator.height }}</div>
                <div>Nationality: {{ foundMovie.operator.nationality }}</div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <ng-template #notFound>
        <p>Объект не найден</p>
      </ng-template>

    </div>
  </div>

  <!-- Модальное окно для уведомлений -->
  <div class="modal" *ngIf="notsFlag">
    <div class="modal-content">
      <h2>Заявки на администрирование</h2>
      <ul>
        <li *ngFor="let request of requests">
          {{ request.userEmail }}
          <button (click)="approveRequest(request.id)">Одобрить</button>
        </li>
      </ul>
      <button (click)="changeNotsFlag()">Закрыть</button>
    </div>
  </div>

</div>
