<div class="home-container">
  <header class="header">
    <div class="menu-container">
      <button class="menu-btn" (click)="changeMenuOpen()">&#9776; Меню</button>
    </div>
    <h1>Лабораторная работа</h1>
    <!-- Условие: только для администраторов -->
    <button *ngIf="isAdmin" class="notification-btn" (click)="changeNotsFlag()">
      <i class="fa fa-bell"></i>
      <span class="notification-count">{{ 1 }}</span>
    </button>
    <button class="login-btn" (click)="navigateTo('/login')">Войти</button>
  </header>

  <div class="side-menu" [class.open]="menuOpen">
    <ul>
      <li><a (click)="navigateTo('/visualize')">Визуализация объектов</a></li>
      <li><a (click)="navigateTo('/admin-login')">Зайти как администратор</a></li>
      <li><a (click)="navigateTo('/register')">Зарегистрироваться</a></li>
    </ul>
  </div>

  <div class="search-bar">
    <input type="text" placeholder="Искать по ID..."/>
    <button (click)="changeSearchFlag()">Поиск</button>
  </div>

  <div class="movie-actions">
    <button (click)="changeCreateFlag()">Создать фильм</button>
  </div>

  <div class="table-wrapper">
    <table class="movie-table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Creation Date</th>
        <th>Oscars Count</th>
        <th>Budget</th>
        <th>Total Box Office</th>
        <th>MPAA Rating</th>
        <th>Length</th>
        <th>Golden Palm Count</th>
        <th>USA Box Office</th>
        <th>Tagline</th>
        <th>Genre</th>
        <th>Coordinates</th>
        <th>Director</th>
        <th>Screenwriter</th>
        <th>Operator</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let movie of movies">
        <td>{{ movie.id }}</td>
        <td>{{ movie.name }}</td>
        <td>{{ movie.creationDate }}</td>
        <td>{{ movie.oscarsCount }}</td>
        <td>{{ movie.budget }}</td>
        <td>{{ movie.totalBoxOffice }}</td>
        <td>{{ movie.mpaaRating }}</td>
        <td>{{ movie.length }}</td>
        <td>{{ movie.goldenPalmCount }}</td>
        <td>{{ movie.usaBoxOffice }}</td>
        <td>{{ movie.tagline }}</td>
        <td>{{ movie.genre }}</td>

        <!-- Coordinates -->
        <td>
          <div class="attribute-label">X:</div>
          <div>{{ movie.coordinates.x }}</div>
          <div class="attribute-label">Y:</div>
          <div>{{ movie.coordinates.y }}</div>
        </td>

        <!-- Director -->
        <td>
          <div class="object-header">Director's info</div>
          <div class="object-attributes">
            <div>Name: {{ movie.director.name }}</div>
            <div>Eye Color: {{ movie.director.eyeColor }}</div>
            <div>Hair Color: {{ movie.director.hairColor }}</div>
            <div>Location: {{ movie.director.location.name }} ({{ movie.director.location.x }}, {{ movie.director.location.y }}, {{ movie.director.location.z }})</div>
            <div>Height: {{ movie.director.height }}</div>
            <div>Nationality: {{ movie.director.nationality }}</div>
          </div>
        </td>

        <!-- Screenwriter -->
        <td>
          <div class="object-header">Screenwriter's info</div>
          <div class="object-attributes">
            <div>Name: {{ movie.screenwriter.name }}</div>
            <div>Eye Color: {{ movie.screenwriter.eyeColor }}</div>
            <div>Hair Color: {{ movie.screenwriter.hairColor }}</div>
            <div>Location: {{ movie.screenwriter.location.name }} ({{ movie.screenwriter.location.x }}, {{ movie.screenwriter.location.y }}, {{ movie.screenwriter.location.z }})</div>
            <div>Height: {{ movie.screenwriter.height }}</div>
            <div>Nationality: {{ movie.screenwriter.nationality }}</div>
          </div>
        </td>

        <!-- Operator -->
        <td>
          <div class="object-header">Operator's info</div>
          <div class="object-attributes">
            <div>Name: {{ movie.operator.name }}</div>
            <div>Eye Color: {{ movie.operator.eyeColor }}</div>
            <div>Hair Color: {{ movie.operator.hairColor }}</div>
            <div>Location: {{ movie.operator.location.name }} ({{ movie.operator.location.x }}, {{ movie.operator.location.y }}, {{ movie.operator.location.z }})</div>
            <div>Height: {{ movie.operator.height }}</div>
            <div>Nationality: {{ movie.operator.nationality }}</div>
          </div>
        </td>

        <td>
          <button (click)="updateMovie(movie)">Обновить</button>
          <button (click)="deleteMovie(movie.id)">Удалить</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>


  <!-- Модальное окно для создания фильма -->
  <div class="modal" *ngIf="createFlag">
    <div class="modal-content">
      <span class="close-btn" (click)="changeCreateFlag()">&times;</span>
      <h2>Создать фильм</h2>
      <form [formGroup]="movieForm" (ngSubmit)="createMovie()">
        <label for="name1">Name:</label>
        <input id="name1" formControlName="name"/>

        <label for="creationDate1">Creation Date: </label>
        <input id="creationDate1" formControlName="creationDate"/>

        <label for="oscarsCount1">Oscars Count:</label>
        <input id="oscarsCount1" type="number" formControlName="oscarsCount"/>

        <label for="budget1">Budget:</label>
        <input id="budget1" type="number" formControlName="budget"/>

        <label for="totalBoxOffice1">Total Box Office:</label>
        <input id="totalBoxOffice1" type="number" formControlName="totalBoxOffice"/>

        <label for="mpaaRating1">MPAA Rating:</label>
        <select id="mpaaRating1" formControlName="mpaaRating">
          <option value="G">G</option>
          <option value="PG">PG</option>
          <option value="PG_13">PG-13</option>
          <option value="R">R</option>
        </select>

        <label for="length1">Length:</label>
        <input id="length1" type="number" formControlName="length"/>

        <label for="goldenPalmCount1">Golden Palm Count:</label>
        <input id="goldenPalmCount1" type="number" formControlName="goldenPalmCount"/>

        <label for="usaBoxOffice1">Usa Box Office:</label>
        <input id="usaBoxOffice1" type="number" formControlName="usaBoxOffice"/>

        <label for="tagline1">Tagline:</label>
        <input id="tagline1" formControlName="tagline"/>

        <label for="genre1">Genre:</label>
        <select id="genre1" formControlName="genre">
          <option value="ACTION">ACTION</option>
          <option value="TRAGEDY">TRAGEDY</option>
          <option value="THRILLER">THRILLER</option>
          <option value="FANTASY">FANTASY</option>
          <option value="SCIENCE_FICTION">SCIENCE_FICTION</option>
        </select>

        <!-- Блок для Coordinates -->
        <button type="button" (click)="toggleCoordinates()">Create Coordinates</button>
        <div *ngIf="coordinatesVisible" formGroupName="coordinates">
          <h3>Coordinates</h3>
          <label for="x">X:</label>
          <input id="x" type="number" formControlName="x"/>

          <label for="y">Y:</label>
          <input id="y" type="number" formControlName="y"/>

          <button type="button" (click)="loadExistingCoordinates()">Load Existing Coordinates</button>
        </div>

        <!-- Блок для Person -->
        <button type="button" (click)="toggleDirector()">Create Director</button>
        <div *ngIf="directorVisible" formGroupName="director">
          <h3>Director</h3>
          <label for="directorName">director Name:</label>
          <input id="directorName" formControlName="name"/>

          <label for="directorEyeColor">Eye Color:</label>
          <select id="directorEyeColor" formControlName="eyeColor">
            <option value="BLACK">BLACK</option>
            <option value="ORANGE">ORANGE</option>
            <option value="BROWN">BROWN</option>
          </select>

          <label for="directorHairColor">Hair Color:</label>
          <select id="directorHairColor" formControlName="hairColor">
            <option value="BLACK">BLACK</option>
            <option value="ORANGE">ORANGE</option>
            <option value="BROWN">BROWN</option>
          </select>

          <!-- Вложенный блок для Location -->
          <h4>Location</h4>
          <div formGroupName="location">
            <label for="directorLocationX">Location X:</label>
            <input id="directorLocationX" type="number" formControlName="x"/>

            <label for="directorLocationY">Location Y:</label>
            <input id="directorLocationY" type="number" formControlName="y"/>

            <label for="directorLocationZ">Location Z:</label>
            <input id="directorLocationZ" type="number" formControlName="z"/>

            <label for="directorLocationName">Location Name:</label>
            <input id="directorLocationName" formControlName="name"/>
          </div>

          <label for="directorHeight">Height:</label>
          <input id="directorHeight" type="number" formControlName="height"/>

          <label for="directorNationality">Nationality:</label>
          <select id="directorNationality" formControlName="nationality">
            <option value="SPAIN">SPAIN</option>
            <option value="INDIA">INDIA</option>
            <option value="VATICAN">VATICAN</option>
          </select>

          <button type="button" (click)="loadExistingDirector()">Load Existing Director</button>
        </div>

        <button type="button" (click)="toggleScreenwriter()">Create Screenwriter</button>
        <div *ngIf="screenwriterVisible" formGroupName="screenwriter">
          <h3>Screenwriter</h3>
          <label for="screenwriterPersonName">Name:</label>
          <input id="screenwriterPersonName" formControlName="name"/>

          <label for="screenwriterEyeColor">Eye Color:</label>
          <select id="screenwriterEyeColor" formControlName="eyeColor">
            <option value="BLACK">BLACK</option>
            <option value="ORANGE">ORANGE</option>
            <option value="BROWN">BROWN</option>
          </select>

          <label for="screenwriterHairColor">Hair Color:</label>
          <select id="screenwriterHairColor" formControlName="hairColor">
            <option value="BLACK">BLACK</option>
            <option value="ORANGE">ORANGE</option>
            <option value="BROWN">BROWN</option>
          </select>

          <!-- Вложенный блок для Location -->
          <h4>Location</h4>
          <div formGroupName="location">
            <label for="screenwriterLocationX">Location X:</label>
            <input id="screenwriterLocationX" type="number" formControlName="x"/>

            <label for="screenwriterLocationY">Location Y:</label>
            <input id="screenwriterLocationY" type="number" formControlName="y"/>

            <label for="screenwriterLocationZ">Location Z:</label>
            <input id="screenwriterLocationZ" type="number" formControlName="z"/>

            <label for="screenwriterLocationName">Location Name:</label>
            <input id="screenwriterLocationName" formControlName="name"/>
          </div>

          <label for="screenwriterHeight">Height:</label>
          <input id="screenwriterHeight" type="number" formControlName="height"/>

          <label for="screenwriterNationality">Nationality:</label>
          <select id="screenwriterNationality" formControlName="nationality">
            <option value="SPAIN">SPAIN</option>
            <option value="INDIA">INDIA</option>
            <option value="VATICAN">VATICAN</option>
          </select>

          <button type="button" (click)="loadExistingScreenwriter()">Load Existing Screenwriter</button>
        </div>

        <button type="button" (click)="toggleOperator()">Create Operator</button>
        <div *ngIf="operatorVisible" formGroupName="operator">
          <h3>Person</h3>
          <label for="operatorName">Name:</label>
          <input id="operatorName" formControlName="name"/>

          <label for="operatorEyeColor">Eye Color:</label>
          <select id="operatorEyeColor" formControlName="eyeColor">
            <option value="BLACK">BLACK</option>
            <option value="ORANGE">ORANGE</option>
            <option value="BROWN">BROWN</option>
          </select>

          <label for="operatorHairColor">Hair Color:</label>
          <select id="operatorHairColor" formControlName="hairColor">
            <option value="BLACK">BLACK</option>
            <option value="ORANGE">ORANGE</option>
            <option value="BROWN">BROWN</option>
          </select>

          <!-- Вложенный блок для Location -->
          <h4>Location</h4>
          <div formGroupName="location">
            <label for="operatorLocationX">Location X:</label>
            <input id="operatorLocationX" type="number" formControlName="x"/>

            <label for="operatorLocationY">Location Y:</label>
            <input id="operatorLocationY" type="number" formControlName="y"/>

            <label for="operatorLocationZ">Location Z:</label>
            <input id="operatorLocationZ" type="number" formControlName="z"/>

            <label for="operatorLocationName">Location Name:</label>
            <input id="operatorLocationName" formControlName="name"/>
          </div>

          <label for="operatorHeight">Height:</label>
          <input id="operatorHeight" type="number" formControlName="height"/>

          <label for="operatorNationality">Nationality:</label>
          <select id="operatorNationality" formControlName="nationality">
            <option value="SPAIN">SPAIN</option>
            <option value="INDIA">INDIA</option>
            <option value="VATICAN">VATICAN</option>
          </select>

          <button type="button" (click)="loadExistingOperator()">Load Existing Operator</button>
        </div>

        <button type="submit">Create Movie</button>
      </form>
    </div>
  </div>

  <div class="modal" *ngIf="updateFlag">
    <div class="modal-content">
      <span class="close-btn" (click)="changeUpdateFlag()">&times;</span>
      <h2>Обновить фильм</h2>
      <form (ngSubmit)="updateMovie(movie)">
        <label for="name">Название</label>
        <input type="text" id="name" [(ngModel)]="movie.name" name="name" required/>

        <label for="oscarsCount">Количество Оскаров</label>
        <input type="number" id="oscarsCount" [(ngModel)]="movie.oscarsCount" name="oscarsCount" required/>

        <label for="budget">Бюджет</label>
        <input type="number" id="budget" [(ngModel)]="movie.budget" name="budget" required/>

        <label for="totalBoxOffice">Сборы</label>
        <input type="number" id="totalBoxOffice" [(ngModel)]="movie.totalBoxOffice" name="totalBoxOffice" required/>

        <label for="mpaaRating">MPAA Рейтинг</label>
        <select id="mpaaRating" [(ngModel)]="movie.mpaaRating" name="mpaaRating" required>
          <option *ngFor="let rating of movie.mpaaRating" [value]="rating">{{ rating }}</option>
        </select>

        <button type="submit">Обновить</button>
      </form>
    </div>
  </div>

  <div class="modal" *ngIf="deleteFlag">
    <div class="modal-content">
      <span class="close-btn" (click)="changeDeleteFlag()">&times;</span>
      <h2>Удалить фильм</h2>
      <p>Вы уверены, что хотите удалить фильм "{{ movie.name }}"?</p>
      <button (click)="deleteMovie(movie.id)">Да</button>
      <button (click)="toDoMethod()">Нет</button>
    </div>
  </div>

  <div class="modal" *ngIf="searchFlag">
    <div class="modal-content">
      <span class="close-btn" (click)="changeSearchFlag()">&times;</span>
      <h2>Поиск фильма</h2>
      <form (ngSubmit)="toDoMethod()">
        <label for="searchId">ID фильма</label>
        <input type="number" id="searchId" [(ngModel)]="searchId" name="searchId" required/>

        <button type="submit">Найти</button>
      </form>
    </div>
  </div>

  <div class="modal" *ngIf="notsFlag">
    <div class="modal-content">
      <h2>Заявки на администрирование</h2>
      <ul>
        <li *ngFor="let request of requests">
          {{ request.userEmail }}
          <button (click)="toDoMethod()">Одобрить</button>
        </li>
      </ul>
      <button (click)="changeNotsFlag()">Закрыть</button>
    </div>
  </div>

</div>
