<div class="auth-container">
  <h2>Вход</h2>
  <form (ngSubmit)="login()">

    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      [(ngModel)]="email"
      required
      (input)="checkEmailRequirements()"
    />
    <ul class="requirements">
      <li [class.met]="emailCriteria.isEmail">Email format with gmail.com, yandex.ru, mail.ru</li>
    </ul>

    <label for="password">Пароль</label>
    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="password"
      required
      minlength="6"
      (input)="checkPasswordRequirements()"
    />
    <ul class="requirements">
      <li [class.met]="passwordCriteria.hasLowercase">One lowercase character</li>
      <li [class.met]="passwordCriteria.hasUppercase">One uppercase character</li>
      <li [class.met]="passwordCriteria.minLength">6 characters minimum</li>
      <li [class.met]="passwordCriteria.hasNumberOrSymbol">Contains a number or symbol</li>
    </ul>

    <label>
      <input type="checkbox" name="adminCheckBox" [(ngModel)]="isAdminLogin" /> Войти как администратор
    </label>

    <button type="submit" [disabled]="!(isPasswordValid() && isEmailValid())">Войти</button>
  </form>
  <p>Нет аккаунта? <a (click)="navigateToRegister()">Зарегистрироваться</a></p>
</div>
