<div class="login-container">
  <h2>Авторизация</h2>
  <form>
    <label for="email">Email</label>
    <input id="email" type="email" placeholder="Введите email" name="email">
<!--    <input id="email" type="email" placeholder="Введите email" [(ngModel)]="email" name="email">-->

    <label for="password">Пароль</label>
    <input id="password" type="password" placeholder="Введите пароль" name="password">
<!--    <input id="password" type="password" placeholder="Введите пароль" [(ngModel)]="password" name="password">-->

    <button>Войти</button>
<!--    <button (click)="login()">Войти</button>-->
  </form>

  <button>Регистрация</button>
<!--  <button (click)="redirectToRegistration()">Регистрация</button>-->
</div>
